apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: user-service:latest
          imagePullPolicy: IfNotPresent # TODO: ONLY FOR DEV ENVIRONMENT, NOT GOOD FOR PROD
          ports:
            - containerPort: 8081
          env:
                - name: SPRING_DATASOURCE_URL
                  value: jdbc:postgresql://postgres:5432/users_db
                - name: SPRING_DATASOURCE_USERNAME
                  value: test
                - name: SPRING_DATASOURCE_PASSWORD
                  value: test
                - name: SPRINGDOC_SWAGGER-UI_URL
                  value: /v3/api-docs?service=users
                - name: SPRINGDOC_SWAGGER-UI_CONFIG-URL
                  value: /v3/api-docs/swagger-config?service=users
